@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #56d8e4  10%, #9f01ea  90%);
}

.show-btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.show-btn,
#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    display: none;
}

#loginForm {
    background: #fff;
    width: 36%;
    height: 460px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    /*overflow-y: scroll;*/
}

#show:checked #loginForm {
    display: block;
}

 #loginForm .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}

#loginForm .close-btn:hover {
    color: #3498db;
}

#loginForm .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #0EBAF2;
}
#heading{
    color: #9f01ea ;
}

#loginForm form {
    margin-top: -20px;
}

#loginForm form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data label {
    font-size: 16px;
    margin-bottom: 16px;
   
}
#passLable{
    margin-top: 25px;
}

form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}

form .data input:focus {
    border-color: #3498db;
    border-bottom-width: 2px;
}

form .forgot-pass {
    margin-top: 100px;
}

form .forgot-pass a {
    color: #3498db;
    text-decoration: none;
   
}

form .forgot-pass a:hover {
    text-decoration: underline;
}
.login{
    width: 100%;
    margin-top: 36px;
    background: linear-gradient(115deg, #56d8e4  10%, #9f01ea  90%);
    padding: 6px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.login:hover{
    width: 100%;
    margin-top: 36px;
    background: linear-gradient(115deg, #9f01ea  10%, #56d8e4  90%);
    padding: 6px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
}



/* For User OTP Number */
#SendOTP{
    background: #0EBAF2;
    outline: none;
    border: none;
}
#SendOTP:hover{
    background: #9f01ea;
    outline: none;
    border: none;
}
#otpNumber{
    display: none;
}
#varifyOTP{
    display: none;
    background: #0EBAF2;
    outline: none;
    border: none;
}
#varifyOTP:hover{
    display: none;
    background: #9f01ea;
    outline: none;
    border: none;
}
#closebtn{
    outline: none;
    border: none;
}
#closebtn:hover{
    outline: none;
    background: #9f01ea;
    border: none;
}




@media(max-width:975px) {
    body {
        height: 100vh;
        width: 100%;
        background: linear-gradient(115deg, #56d8e4  10%, #9f01ea  90%);
    }
    
    #loginForm {
        background: #fff;
        width: 90% !important;
        height: 90%;
        padding: 30px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    #loginForm {
    background: #fff;
    width: 36%;
    height: 80%;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    /*overflow-y: scroll;*/
}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media(max-height: 540px){
    #loginForm {
    background: #fff;
    width: 36%;
    height: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    /*overflow-y: scroll;*/
}
#loginForm form .data {
    height: 37px;
    width: 100%;
    margin: 40px 0;
}
#loginForm .text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #0EBAF2;
}

form .data label {
    font-size: 15px;
    margin-bottom: 16px;
   
}
form .forgot-pass {
    margin-top: 85px;
}
.login{
    width: 100%;
    margin-top: 22px;
    background: linear-gradient(115deg, #56d8e4  10%, #9f01ea  90%);
    padding: 6px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
}

}